.toast-container{
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}
.toast{
  background-color: green;
  width:12rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  position: relative;
  font-size: 1rem;
  animation: slideIn 1s ease;

  span{
    position: absolute;

    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}

.success{
  background-color: green;
}
.error{
  background-color: red;
}
.warning{
  background-color: orange;
}
.info{
  background-color: blue;
}


@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}